{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>GANTSILYO - ABOUT</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'main/assets/images/main_logo.jpg' %}" type="image/x-icon">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'main/assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'main/assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'main/assets/css/lightbox.css' %}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
     
    {% include 'home/header/header.html'%}

    <!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top" style="background-image: url('{% static 'main/assets/images/about_cover.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed; height: 100vh;">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are GANTSILYO</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="right-content">
                    <div class="inner-content text-white">
                        <h4>About Us</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
                        <p>We provide high-quality floral arrangements for all occasions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
    

    <!-- jQuery -->
    <script src="{% static 'main/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/assets/js/popper.js' %}"></script>
    <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'main/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'main/assets/js/accordions.j' %}s"></script>
    <script src="{% static 'main/assets/js/datepicker.js' %}"></script>
    <script src="{% static 'main/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'main/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'main/assets/js/slick.js' %}"></script> 
    <script src="{% static 'main/assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'main/assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'main/assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>