{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>GANTSILYO - PRODUCT</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'main/assets/images/main_logo.jpg' %}" type="image/x-icon">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'main/assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'main/assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'main/assets/css/lightbox.css' %}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
     
    {% include 'home/header/header.html'%}

    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <!-- You can include your background image here if desired -->
    <h1 class="text-center">Welcome to GANTSILYO</h1>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Product Item Loop -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content text-center">
                            <a href="single-product.html" class="btn btn-primary">BUY NOW</a>
                        </div>
                        <img src="{% static 'main/assets/images/baner-right-image-01.jpg' %}" alt="Classic Spring" class="img-fluid">
                    </div>
                    <div class="down-content text-center">
                        <h4>Crochet 1</h4>
                        <span>PHP 300</span>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->


    <!-- jQuery -->
    <script src="{% static 'main/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/assets/js/popper.js' %}"></script>
    <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'main/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'main/assets/js/accordions.j' %}s"></script>
    <script src="{% static 'main/assets/js/datepicker.js' %}"></script>
    <script src="{% static 'main/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'main/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'main/assets/js/slick.js' %}"></script> 
    <script src="{% static 'main/assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'main/assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'main/assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>